pkgbase = mycli
	pkgdesc = A Terminal Client for MySQL with AutoCompletion and Syntax Highlighting
	pkgver = 1.44.2
	pkgrel = 1
	url = https://github.com/dbcli/mycli
	arch = any
	license = BSD-3-Clause
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	makedepends = python-setuptools-scm
	depends = python
	depends = python-click
	depends = python-cryptography
	depends = python-pygments
	depends = python-prompt_toolkit
	depends = python-pymysql
	depends = python-sqlparse
	depends = python-sqlglot
	depends = python-configobj
	depends = python-cli_helpers
	depends = python-pycryptodomex
	depends = python-pyfzf
	depends = python-pyperclip
	optdepends = python-llm: LLM support
	optdepends = python-paramiko: SSH support
	options = !emptydirs
	source = mycli-1.44.2.tar.gz::https://github.com/dbcli/mycli/archive/v1.44.2.tar.gz
	sha256sums = a472d7dca8ce67f2e9014b784dda617910ebb114741bb53718bfbbd7f2c399be

pkgname = mycli
