pkgbase = mycli
	pkgdesc = A Terminal Client for MySQL with AutoCompletion and Syntax Highlighting
	pkgver = 1.43.1
	pkgrel = 1
	url = https://github.com/dbcli/mycli
	arch = any
	license = BSD-3-Clause
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	makedepends = python-setuptools-scm
	depends = python
	depends = python-click
	depends = python-cryptography
	depends = python-pygments
	depends = python-prompt_toolkit
	depends = python-pymysql
	depends = python-sqlparse
	depends = python-sqlglot
	depends = python-configobj
	depends = python-cli_helpers
	depends = python-pycryptodomex
	depends = python-pyfzf
	depends = python-pyperclip
	optdepends = python-llm: LLM support
	optdepends = python-paramiko: SSH support
	options = !emptydirs
	source = mycli-1.43.1.tar.gz::https://github.com/dbcli/mycli/archive/v1.43.1.tar.gz
	sha256sums = 8ec8fa0ec4dcb01ff37891f8dd58b4849922e8bb96a7ce2050168b4cd1e1b097

pkgname = mycli
