pkgbase = mycli
	pkgdesc = A Terminal Client for MySQL with AutoCompletion and Syntax Highlighting
	pkgver = 1.38.4
	pkgrel = 1
	url = https://github.com/dbcli/mycli
	arch = any
	license = BSD-3-Clause
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	makedepends = python-setuptools-scm
	depends = python
	depends = python-click
	depends = python-cryptography
	depends = python-pygments
	depends = python-prompt_toolkit
	depends = python-pymysql
	depends = python-sqlparse
	depends = python-sqlglot
	depends = python-configobj
	depends = python-cli_helpers
	depends = python-pyperclip
	depends = python-pyaes
	depends = python-pyfzf
	depends = python-llm
	optdepends = python-paramiko: SSH support
	options = !emptydirs
	source = mycli-1.38.4.tar.gz::https://github.com/dbcli/mycli/archive/v1.38.4.tar.gz
	sha256sums = a33e6b5081f414ca98973d2e96245c36497aa2e560ba6db2f4a64113f89e928a

pkgname = mycli
