pkgbase = python-sqlglot
	pkgdesc = An easily customizable SQL parser and transpiler
	pkgver = 21.2.1
	pkgrel = 1
	url = https://github.com/tobymao/sqlglot
	arch = any
	license = MIT
	makedepends = python-setuptools
	depends = python
	options = !emptydirs
	source = python-sqlglot-21.2.1.tar.gz::https://github.com/tobymao/sqlglot/archive/v21.2.1.tar.gz
	sha256sums = d38974cfd1bd91831c03f69f0e0249088cce2a1aef61f8ade0d63ebf141ac19c

pkgname = python-sqlglot
