pkgbase = python-sqlglot
	pkgdesc = An easily customizable SQL parser and transpiler
	pkgver = 26.25.3
	pkgrel = 1
	url = https://github.com/tobymao/sqlglot
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	makedepends = python-setuptools-scm
	depends = python
	options = !emptydirs
	source = python-sqlglot-26.25.3.tar.gz::https://github.com/tobymao/sqlglot/archive/v26.25.3.tar.gz
	sha256sums = 81fc9e659dc1605fcde0f5146ff94cacc23d9909b79c7efc1968fe7feaffdb44

pkgname = python-sqlglot
