pkgbase = python-sqlglot
	pkgdesc = An easily customizable SQL parser and transpiler
	pkgver = 25.7.1
	pkgrel = 1
	url = https://github.com/tobymao/sqlglot
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-setuptools-scm
	makedepends = python-wheel
	depends = python
	options = !emptydirs
	source = python-sqlglot-25.7.1.tar.gz::https://github.com/tobymao/sqlglot/archive/v25.7.1.tar.gz
	sha256sums = c18326e6a76f98d1472953484ce6f169488b37078ce77441d9a6cd5da2b1e265

pkgname = python-sqlglot
