pkgbase = python-sqlglot
	pkgdesc = An easily customizable SQL parser and transpiler
	pkgver = 26.3.9
	pkgrel = 1
	url = https://github.com/tobymao/sqlglot
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	makedepends = python-setuptools-scm
	depends = python
	options = !emptydirs
	source = python-sqlglot-26.3.9.tar.gz::https://github.com/tobymao/sqlglot/archive/v26.3.9.tar.gz
	sha256sums = 6b17101823a868f57563e2c9e534692638daaf009b4e08cbfc2a43968384c8fb

pkgname = python-sqlglot
