pkgbase = python-sqlglot
	pkgdesc = An easily customizable SQL parser and transpiler
	pkgver = 23.14.0
	pkgrel = 1
	url = https://github.com/tobymao/sqlglot
	arch = any
	license = MIT
	makedepends = python-setuptools
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = python
	options = !emptydirs
	source = python-sqlglot-23.14.0.tar.gz::https://github.com/tobymao/sqlglot/archive/v23.14.0.tar.gz
	sha256sums = 9650626515f4bd320034dd4839b8f87fe9fb163bb01ac7f83718e6c027dba56a

pkgname = python-sqlglot
